<% layout('../layouts/default.ejs') -%>
<div class="row">
  <div id="resultsPanel" class="col-md-6 col-md-offset-1">
    <div id="resultStats">
      <small>About 15 results (0.34 seconds) </small>
    </div>
    <div id="searchResults">
      <ul class="list-unstyled">
        <% results.forEach(function (result,index) {%>
        <li>
          <h4><a href="#"><%= result.title %></a></h4>
          <p>
            <%= result.abstract %>
          </p>
        </li>
        <% }) %>
      </ul>
      <ul class="pagination">
        <li class="disabled"><a href="#">&laquo;</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
  </div>
</div>