body {
  padding-top: 70px;
}
small {
  color: #999999;
}
#resultStats {
  display: block;
  color: #999;
}
.main-body {
  min-height: 550px;
}
.search-box {
  margin-top: 120px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.search-box form {
  width: 100%;
}
.search-box form input {
  width: 600px;
  float: left;
}
.search-box form .btn-group {
  float: left;
  margin-left: 10px;
}
.search-box form .btn-group button {
  width: 40px;
}
.search-box div#logo {
  margin-bottom: 150px;
}
#signin-section,
#signup-section {
  width: 520px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
}
#signup-section {
  width: 550px;
}
div.error-block {
  width: 400px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
div.error-block img {
  margin-left: 100px;
  width: 200px;
  height: 200px;
}
div.error-block h3,
div.error-block p {
  margin-left: 20px;
}
div[id*=upload-progress] {
  display: none;
}
footer * {
  width: 600px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
.remove-file {
  margin-left: 10px;
  color: #08c;
  cursor: pointer;
}
div.reference-item #add-reference-btn,
div.reference-item span.glyphicon-remove {
  color: #08c;
  cursor: pointer;
  margin-top: 10px;
}
div#literature-meta span.file-download-btn img {
  cursor: pointer;
}
div#literature-rating .glyphicon {
  cursor: pointer;
  color: #FF9900;
}
div#literature-detail-tab .checkbox-options label {
  padding-right: 10px;
}
div#literature-detail-tab div.tab-pane#cited li,
div#literature-detail-tab div.tab-pane#references li {
  padding-top: 10px;
  padding-bottom: 10px;
}
/**
 * upload.ejs and update.ejs
 */
div.form-group div.reference-item {
  margin-top: 15px !important;
  height: 30px;
}
.ad-search-list dt {
  width: 200px;
  margin: 5px;
}
.ad-search-list dd input {
  margin: 5px;
  width: 300px;
}
/**
 * admin/config.ejs
 */
div#admin-config span.glyphicon {
  color: #08c;
  cursor: pointer;
}
