<% layout('../layouts/default.ejs')  -%>

<ul class="nav nav-tabs">
  <li class="active"><a href="#literatureConfig" data-toggle="tab">Literature</a></li>
  <li><a href="#commentConfig" data-toggle="tab">Comment</a></li>
  <li><a href="#RRConfig" data-toggle="tab">Reference Relationship</a></li>
  <li><a href="#userListConfig" data-toggle="tab">User List</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content well">
  <div class="tab-pane fade in active" id="literatureConfig">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-md-1">Category</th>
          <th class="col-md-10">Config Choice</th>
          <th class="col-md-1">Option</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Book</td>
          <td>
            <div class="checkbox-inline">
              <label>
                <input type="checkbox" name="pages" value="">pages
              </label>
            </div>
            <div class="checkbox-inline">
              <label>
                <input type="checkbox" name="url" value="">url
              </label>
            </div>
            <div class="checkbox-inline">
              <label>
                <input type="checkbox" name="publisher" value="">publisher
              </label>
            </div>
            <div class="checkbox-inline">
              <label>
                <input type="checkbox" name="editor" value="">editor
              </label>
            </div>
            <div class="checkbox-inline">
              <label>
                <input type="checkbox" name="book_name" value="">book
              </label>
            </div>
            <div class="checkbox-inline">
              <label>
                <input type="checkbox" name="isbn" value="">isbn
              </label>
            </div>
            <div class="checkbox-inline">
              <label>
                <input type="checkbox" name="publication" value="">publication
              </label>
            </div>
            <div class="checkbox-inline">
              <label>
                <input type="checkbox" name="volume" value="">volume
              </label>
            </div>
            <div class="checkbox-inline">
              <label>
                <input type="checkbox" name="issue" value="">issue
              </label>
            </div>
            <div class="checkbox-inline">
              <label>
                <input type="checkbox" name="city" value="">city
              </label>
            </div>
            <div class="checkbox-inline">
              <label>
                <input type="checkbox" name="doi" value="">doi
              </label>
            </div>
            <div class="checkbox-inline">
              <label>
                <input type="checkbox" name="college" value="">college
              </label>
            </div>
          </td>
          <td>
            <a><span class="glyphicon glyphicon-remove"></span></a>
          </td>
        </tr>

        <tr>
          <td>Journal</td>
          <td>
            <div class="checkbox-inline">
              <label>
                <input type="checkbox" name="pages" value="">pages
              </label>
            </div>
            <div class="checkbox-inline">
              <label>
                <input type="checkbox" name="url" value="">url
              </label>
            </div>
            <div class="checkbox-inline">
              <label>
                <input type="checkbox" name="publisher" value="">publisher
              </label>
            </div>
            <div class="checkbox-inline">
              <label>
                <input type="checkbox" name="editor" value="">editor
              </label>
            </div>
            <div class="checkbox-inline">
              <label>
                <input type="checkbox" name="book_name" value="">book
              </label>
            </div>
            <div class="checkbox-inline">
              <label>
                <input type="checkbox" name="isbn" value="">isbn
              </label>
            </div>
            <div class="checkbox-inline">
              <label>
                <input type="checkbox" name="publication" value="">publication
              </label>
            </div>
            <div class="checkbox-inline">
              <label>
                <input type="checkbox" name="volume" value="">volume
              </label>
            </div>
            <div class="checkbox-inline">
              <label>
                <input type="checkbox" name="issue" value="">issue
              </label>
            </div>
            <div class="checkbox-inline">
              <label>
                <input type="checkbox" name="city" value="">city
              </label>
            </div>
            <div class="checkbox-inline">
              <label>
                <input type="checkbox" name="doi" value="">doi
              </label>
            </div>
            <div class="checkbox-inline">
              <label>
                <input type="checkbox" name="college" value="">college
              </label>
            </div>
          </td>
          <td>
            <a><span class="glyphicon glyphicon-remove"></span></a>
          </td>
        </tr>

        <tr>
          <td>
            <input type="text" class="col-md-12">
          </td>
          <td>
            <div class="checkbox-inline">
              <label>
                <input type="checkbox" name="pages" value="">pages
              </label>
            </div>
            <div class="checkbox-inline">
              <label>
                <input type="checkbox" name="url" value="">url
              </label>
            </div>
            <div class="checkbox-inline">
              <label>
                <input type="checkbox" name="publisher" value="">publisher
              </label>
            </div>
            <div class="checkbox-inline">
              <label>
                <input type="checkbox" name="editor" value="">editor
              </label>
            </div>
            <div class="checkbox-inline">
              <label>
                <input type="checkbox" name="book_name" value="">book
              </label>
            </div>
            <div class="checkbox-inline">
              <label>
                <input type="checkbox" name="isbn" value="">isbn
              </label>
            </div>
            <div class="checkbox-inline">
              <label>
                <input type="checkbox" name="publication" value="">publication
              </label>
            </div>
            <div class="checkbox-inline">
              <label>
                <input type="checkbox" name="volume" value="">volume
              </label>
            </div>
            <div class="checkbox-inline">
              <label>
                <input type="checkbox" name="issue" value="">issue
              </label>
            </div>
            <div class="checkbox-inline">
              <label>
                <input type="checkbox" name="city" value="">city
              </label>
            </div>
            <div class="checkbox-inline">
              <label>
                <input type="checkbox" name="doi" value="">doi
              </label>
            </div>
            <div class="checkbox-inline">
              <label>
                <input type="checkbox" name="college" value="">college
              </label>
            </div>
          </td>
          <td>
            <a><span class="glyphicon glyphicon-plus"></span></a>
          </td>
        </tr>
      </tbody>
    </table>
      
    <button class="btn btn-success">Save Changes</button>
    <button class="btn btn-default">Cancel</button>
  </div>

  <div class="tab-pane fade" id="commentConfig">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-md-11">Category</th>
          <th class="col-md-1">Option</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            Problem
          </td>
          <td>
            <a><span class="glyphicon glyphicon-remove"></span></a>
          </td>
        </tr>
        <tr>
          <td>
            Idea
          </td>
          <td>
            <a><span class="glyphicon glyphicon-remove"></span></a>
          </td>
        </tr>
        <tr>
          <td>
            Experiment
          </td>
          <td>
            <a><span class="glyphicon glyphicon-remove"></span></a>
          </td>
        </tr>
        <tr>
          <td>
            <input type="text">
          </td>
          <td>
            <a><span class="glyphicon glyphicon-plus"></span></a>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-success">Save Changes</button>
    <button class="btn btn-default">Cancel</button>
  </div>
  <div class="tab-pane fade" id="RRConfig">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-md-11">Category</th>
          <th class="col-md-1">Option</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            Mention
          </td>
          <td>
            <a><span class="glyphicon glyphicon-remove"></span></a>
          </td>
        </tr>
        <tr>
          <td>
            Idea
          </td>
          <td>
            <a><span class="glyphicon glyphicon-remove"></span></a>
          </td>
        </tr>
        <tr>
          <td>
            Related
          </td>
          <td>
            <a><span class="glyphicon glyphicon-remove"></span></a>
          </td>
        </tr>
        <tr>
          <td>
            <input type="text">
          </td>
          <td>
            <a><span class="glyphicon glyphicon-plus"></span></a>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-success">Save Changes</button>
    <button class="btn btn-default">Cancel</button>
  </div>
  <div class="tab-pane fade" id="userListConfig">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-md-11">User</th>
          <th class="col-md-1">Option</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            Cyanny LIANG
          </td>
          <td>
            <a><span class="glyphicon glyphicon-remove"></span></a>
          </td>
        </tr>
        <tr>
          <td>
            Idea
          </td>
          <td>
            <a><span class="glyphicon glyphicon-remove"></span></a>
          </td>
        </tr>
        <tr>
          <td>
            Thomas ZHANG
          </td>
          <td>
            <a><span class="glyphicon glyphicon-remove"></span></a>
          </td>
        </tr>
        <tr>
          <td>
            Arron FENG
          </td>
          <td>
            <a><span class="glyphicon glyphicon-remove"></span></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>  