<% layout('../layouts/default.ejs')  -%>
<% script('/lib/highstock/js/highstock.js') -%>
<% script('/lib/highstock/js/modules/exporting.js') -%>
<% script('/js/statistics-brief-comments.js') -%>

<div id="brief-comments-global-stat" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<div id="brief-comments-user-stat" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
