<% layout('../layouts/default.ejs')  -%>

<ul class="nav nav-tabs">
  <li class="active"><a href="#literature-stat" data-toggle="tab">Literature</a></li>
  <li><a href="#brief-comment-stat" data-toggle="tab">Brief Comment</a></li>
  <li><a href="#detail-comment-stat" data-toggle="tab">Detail Comment</a></li>
</ul>


<div class="tab-content">
  <div class="tab-pane fade in active well" id="literature-stat">
  </div>

  <div class="tab-pane fade well" id="brief-comment-stat">
  </div>

   <div class="tab-pane fade well" id="detail-comment-stat">
  </div>
</div>

