<% layout('../layouts/default.ejs')  -%>
<% script('/lib/highstock/js/highstock.js') -%>
<% script('/lib/highstock/js/modules/exporting.js') -%>
<% script('/js/statistics-rich-comments.js') -%>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

<div id="rich-comments-global-stat" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<div id="rich-comments-user-stat" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
