<% layout('layouts/default') -%>
<div class="row error-block">
  <h3>Oops, Something went wrong.</h3>
  <div>
    <img src="/img/404.png" />
    <p>
      404 Error, The page you are looking for is not Available.
    </p>
  </div>
</div>

