<% layout('layouts/default') -%>
<div class="row error-block">
  <h3>Oops, Something went wrong.</h3>
  <div >
    <img src="/img/500.png" />
    <p>
     500, Server Error.Please contact admin.
    </p>
  </div>
</div>

